
  <%- include('template/cabecera', {tituloweb: 'color'}); %>
  <h1 class="text-primary">Hola a EJS <%= titulo %></h1>
  <h2><%= titulo %></h2>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Left</button>
    <button type="button" class="btn btn-primary">Middle</button>
    <button type="button" class="btn btn-primary">Right</button>
  </div>
</html>
